<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<base href="<%= htmlWebpackPlugin.options.baseUrl %>" target="_blank" />

    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="assets/homescreen512.png">
    <link rel="icon" type="image/png" href="favicon.png" />

    <title>I owe you</title>
</head>

<body>
    <div id="root">
		<div class="loader"></div>
	</div>

    <noscript>
        <p>Javascript is required for this webpage</p>
    </noscript>
</body>

</html>